.gallery {
  padding-left: 120px;
  column-count: 4;
  column-gap: 1rem;


  img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    content-visibility: auto;
    contain-intrinsic-size: 300px;

    &:hover {
      transform: scale(1.02);
    }
  }

}

.square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.vertical {
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.horizontal {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8); //заменить потом
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  img {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }
}