.background-container { //переделать потом в код
  background-image: url('/images/info/aboutMe.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}