.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #263737;
    color: #fff;
    transition: width 0.3s ease;
    z-index: 1000;
    padding-left: 32px;
    overflow: hidden;

    &.closed {
    width: 80px;

        .home{
            display: block;
            text-align: left;
        }

        .first {
            padding-top: 100px;
        }

    }

    &.open {
    width: 360px;

        .home{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .first {
            padding-top: 10px;
        }

    }

    img {
        width: 50px;
        height: 50px;
        margin-top: 28px;
        border-radius: 50%;
        object-fit: cover;
        transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;

    }

    &.open img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    &.closed img {
        align-self: flex-start;
    }

    .home {

        transition: all 0.3s ease;

    }


    a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 12px 0;
    gap: 32px;
    }

    span {
        white-space: nowrap;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    svg {
        width: 42px;
        height: 42px;
        flex-shrink: 0;
    }

    &.closed a span {
        opacity: 0;
        pointer-events: none;
        width: 0;
        overflow: hidden;
    }

    &.closed a {
        gap: 0;
    }

 }

.menu-btn {
    font-size: 42px;
    position: fixed;
    bottom: 36px;
    left: 20px;
    z-index: 1100;
    color: #fff;
    background-color: #263737;
    user-select: none;
    padding-left: 18px;
}


