.sidebar {
    position: fixed;
    top: 0;
    left: -320px;
    width: 400px;
    height: 100vh;
    background-color: #263737;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
    padding-left:40px;
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    display: block;
    color: #fff;
}

.menu-btn {
    font-size: 42px;
    position: fixed;
    bottom: 36px;
    left: 20px;
    z-index: 1100;
    cursor: pointer;
    color: #fff;
    background-color: #263737;
    user-select: none;
}

.first {
    padding-top: 56px;
}